.dashboard-frame {
    display: flex;
    flex-direction: row; /* Align children vertically */
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.dashboard-heaer-date {
    background-color: #f4f4f4; /* Blue background for the header */
    color: black; /* White text color */
}

.dashboard-heaer-add-task-button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-heaer-add-task-button:hover {
    background-color: #66e07d;
  }

.taskgroup-container {
  width: 30%;
  text-align: center;
}

.taskgroup-container ul {
  list-style-type: none; /* Removes the list markers */
  padding: 0; /* Removes default padding */
}

.taskgroup-container li {
  margin-bottom: 10px; /* Adds space between each list item */
}

.taskgroup-container button {
  width: 100%; /* Makes the button expand to the full width of its container */
  padding: 10px 15px; /* Adds padding inside the button */
  background-color: #007bff; /* Sets a background color */
  color: white; /* Sets the text color */
  border: none; /* Removes the border */
  border-radius: 5px; /* Adds rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  text-transform: uppercase; /* Optional: transforms text to uppercase */
  font-size: 16px; /* Sets the font size */
}

.taskgroup-container button:hover {
  background-color: #0056b3; /* Darker shade when hovered */
}


.todolist-container {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.todolist-header {
    width: 100%;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.login-prompt {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.login-prompt h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-prompt p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.login-prompt a {
  color: #0066ff;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}
  