.dashboard-frame {
    display: flex;
    flex-direction: column; /* Align children vertically */
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}

.dashboard-heaer-frame {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dashboard-heaer-date {
    background-color: #f4f4f4; /* Blue background for the header */
    color: black; /* White text color */
}

.dashboard-heaer-add-task-button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-heaer-add-task-button:hover {
    background-color: #66e07d;
  }

.todolist-container {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.todolist-header {
    width: 100%;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.login-prompt {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.login-prompt h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-prompt p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.login-prompt a {
  color: #0066ff;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}
  