.dashboard-frame {
    display: flex;
    flex-direction: row; /* Align children vertically */
    /* align-items: flex-start; */
    align-items: stretch;
    /* min-height: 100vh; */
    height: 90vh;
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
}

.dashboard-heaer-date {
    color: black; /* White text color */
}

.dashboard-heaer-add-task-button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-heaer-add-task-button:hover {
    background-color: #66e07d;
  }

.taskgroup-container {
  width: 25%;
  text-align: center;
  background-color: #f6f6ea ;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  /* height: inherit; Inherit the height from the parent 
  box-sizing: border-box; */
}

.taskgroup-container ul {
  list-style-type: none; /* Removes the list markers */
  padding: 0; /* Removes default padding */
}

.taskgroup-container li {
  margin-bottom: 10px; /* Adds space between each list item */
}

.taskgroup-addbutton {
  border: 0;
  background: #78f89f;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  margin: 9px;
}

.taskgroup-addbutton:hover {
  background-color: #66e07d;
}

.folder-button {
  width: 100%;
  display: flex;
}

.taskgroup-folderbutton {
  width: 80%; /* Makes the button expand to the full width of its container */
  padding: 10px 15px; /* Adds padding inside the button */
  background-color: #007bff; /* Sets a background color */
  color: white; /* Sets the text color */
  border: none; /* Removes the border */
  border-radius: 5px; /* Adds rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  text-transform: uppercase; /* Optional: transforms text to uppercase */
  font-size: 16px; /* Sets the font size */
}

.taskgroup-folderbutton:hover {
  background-color: #0056b3; /* Darker shade when hovered */
}

.taskgroup-deletebutton {
  width: 20%;
  padding: 10px 15px; /* Makes padding consistent with the other button */
  background-color: red;
  color: white; /* Choose text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.todolist-container {
    width: 70%;
    background-color:  #e8f6fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    /* height: inherit;
    overflow: auto; */
}

.todolist-header {
    width: 100%;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.login-prompt {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.login-prompt h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-prompt p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.login-prompt a {
  color: #0066ff;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}
  