.todolist-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todolist-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.todolist-card h3 {
    margin: 0;
    color: #2a2a2a;
    flex-grow: 8;
}

.todolist-card button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    margin: 9px;
}

.todolist-card button:hover {
    background-color: #66e07d;
}